@media (max-width: 1100px) {
    body > button {
        left: 96%;
    }
}

@media (max-width: 900px) {
    body > button {
        left: 95%;
    }
}

@media (max-width: 700px) {
    body > button {
        left: 94%;
    }

    header {
        flex-direction: column;
        justify-content: center;
        gap: 18px;
    }

    header .container-img {
        align-items: center;
        justify-content: center;
    }

    header .container-img img {
        left: 47%;
    }

    header .container-input-search-pokemon div {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    footer .container .row-1 {
        flex-direction: column;
        gap: 0.50rem;
    }

    footer .container {
        gap: 1rem;
    }

    body > button {
        left: 93%;
    }
}

@media (max-width: 500px) {
    body > button {
        left: 92%
    }
}